.navbar{ 
    background:#F97300;
}
.nav-link , .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
}
.nav-link{ 
    margin-right: 1em !important;
}
.nav-link:hover{ 
    background: #f4f4f4; color: #f97300; 
}
.navbar-collapse{ 
    justify-content: flex-end;
}
.navbar-toggler{  
    background:#fff !important;
}
.navbar-collapse{
    justify-content: flex-end;
}
.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
}
/*header style*/
.header{
    background-image: url('../images/hands-up.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}